body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

.container {
    margin: 0;
    max-width: 100%;
}

.is-fluid {
    height: 100%;
    display: flex;
    justify-content: center;
}

.column {
    float: left;
}
  
.left {
    max-width: 20%;
    margin: 5px;
}
  
.right {
    width: 80%;
    height: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.searchBtn {
    width: 77%;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
}

#featured {
    display: flex;
    flex-direction: row;
    height: auto;
}

#searchResults {
    display: flex;
    flex-direction: row;
    height: auto;
}

.card {
    width: 30%;
    margin: 10px;
}
.card-content {
    padding: 3px;
}
.content {
    position: absolute;
    bottom: 0;
}

#single-hotel{
    display: none;
}

.tabs{
    margin-left: 20px;
    margin-bottom: 30px;
}
.details {
    height: 60%;
}

.activity{
    position: absolute;
    top: 30%;
    right: 5%;
}
.headfordropdown{
    position: absolute;
    text-align: left;
    margin-top: 60px;
    top: 20%;
    right: 5%;
    font-weight: bold;
}
.activities {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 80%;
}

#picture {
    width: 50%;
    padding:0;
}

.link {
    color: blue;
    text-decoration: underline;
}