body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

.container {
    margin: 0;
    max-width: 100%;
}

.is-fluid {
    height: 100%;
    display: flex;
    justify-content: center;
}

.column {
    float: left;
}
  
.left {
    max-width: 20%;
    margin: 5px;
}
  
.right {
    width: 80%;
    height: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.searchBtn {
    width: 77%;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
}

#featured {
    display: flex;
    flex-direction: row;
    height: auto;
}

#searchResults {
    display: flex;
    flex-direction: row;
    height: auto;
}

.card {
    /* display: inline; */
    max-width: 17.5%;
    margin: 10px;
}
.card-content {
    padding: 3px;
}
.content {
    position: absolute;
    bottom: 0;
}

#single-hotel{
    display: none;
}

.tabs{
    margin-left: 20px;
    margin-bottom: 30px;
}
.details {
    height: 60%;
}

.select{
    position: absolute;
    bottom: 7%;
    margin-left: 2%;
    margin-top: 90px;
    margin-bottom: 10px;
}
.headfordropdown{
    position: absolute;
    text-align: left;
    margin-left: 2%;
    margin-top: 60px;
    margin-bottom: 15%;
    font-weight: bold;
}
.activities {
    position: absolute;
    left: 20%;
    bottom: 0;
    width: 80%;
    margin-top: 70px;
}